@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #000031;
    margin: 0;
    font-family: "Nunito", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

#home {
    font-family: "Nunito";
    background-image: url("./assets/images/speedometer.jpg");
    /* make the background fill whole screen and resize with screen size */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 120vh;
    width: 100%;
}
